
body{
    margin: 0 auto;
    background: hsl(204, 43%, 93%);
    color: hsl(218, 22%, 67%);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, html{
    height: 100%;
    width: 100%;
}

.wrapper{
    display: grid;
    background: white;
    border-radius: 15px;
    height: auto;
    width: 50vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.header{
    grid-column-start: span 2;
    padding: 20px;
}

.header > p{
    line-height: 1.8;
}
.sub{
    background: hsl(179, 62%, 43%);
    padding: 25px;
    color: hsla(215, 41%, 92%, 0.726);
    border-bottom-left-radius: 15px;
}

.sub-head{
    color:white;
}

.bigger{
    font-size: 200%;
    color: white;
}

.why{
    background: hsl(179, 58%, 53%);
    padding: 25px;
    list-style: none;
    border-bottom-right-radius: 15px;
    color: hsla(215, 41%, 92%, 0.726);;
}

.why-head{
    color: white;
}

.why > p{
    line-height: 0.2;
}

.btn{
    background: hsl(71, 73%, 54%);
    text-align: center;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.btn:hover{
    background-color: yellowgreen;
}

#yellow{
    color:hsl(71, 73%, 54%)
}

#blue{
    color: hsl(179, 62%, 43%);;
}

@media only screen and (max-width: 500px) {
  .wrapper{
     display: flex;
     flex-direction: column;
     height: auto;
     width: 60%;
     justify-content: center;
     font-size: 0.75em;

    }
  }

@media only screen and (max-width: 500px) {
  .sub{
    border-bottom-left-radius: 0px;
    }
}

@media only screen and (max-width: 500px) {
.why{
    border-bottom-left-radius: 15px; }
 }
